* {
    box-sizing: border-box;
    
}

h1 {
    color: blueviolet;
    background-color: lightblue;
    margin-top: 0;
    margin-bottom: 5%;
    height: 10%;
    border-radius: 0 0 5% 5%;
    text-align: center;
    font-family: 'dancing script';
    
}

.flex-container {
   position: relative;


}

section {

    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

card__bookmark {

}

.bottomline {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  align-items: end;
  font-size: 15px;
}

