*{
    box-sizing: border-box;
}

h1 {
    color: blueviolet;
    background-color: lightblue;
    margin: 0;
    height: 10%;
    border-radius: 0 0 5% 5%;
    text-align: center;
    font-family: dancingscript;
}

body {
    margin: 0;
    
}

section {
    display: flex;
    flex-direction: column;
    border: 2px solid;
}

div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}